//
  | Project Title:  Appointment System
  |     Component:  API
  |
  |    File Name:  error.jade  
  |  Description:  This file that outlines the layout of any errors that occur 
  |                in the API. 

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
