//
  | Project Title:  Appointment System
  |     Component:  API
  |
  |    File Name:  index.jade  
  |  Description:  This file that outlines the initial point for users to  
  |                understand how to use the API.
  
extends layout

block content
  h1=title

  hr

  h3 GET All Users
    h5 See #[a(href="/API/USER/86fe8ac4-ebf5-3f8c-bd29-94fdc950b26e") #{"/API/USER/86fe8ac4-ebf5-3f8c-bd29-94fdc950b26e"}]

  h3 GET One User
    h5 Id: 1 See #[a(href="/API/USER/martyn2.fitzgerald@live.uwe.ac.uk") #{"/API/USER/martyn2.fitzgerald@live.uwe.ac.uk"}]

  h3 INSERT New User
  form(name="add-estimation", method="POST", action='/API/INSERT/USER/')
    div.input
      span.label ID: 
      input(type="text", name="id", value="08e0488790e5d3194ddfed05a028269ec68c7130")
      span.label &nbsp
      span.label First Name: 
      input(type="text", name="fName", value="Martyn")
      span.label &nbsp
      span.label Last Name: 
      input(type="text", name="lName", value="Fitzgerald")
      span.label &nbsp
      span.label Email Address: 
      input(type="text", name="email_address", value="martyn2.fitzgerald@live.uwe.ac.uk")
      span.label &nbsp
      span.label Password: 
      input(type="text", name="password", value="Password1")
      span.label &nbsp
      span.label Phone Number: 
      input(type="text", name="phone_number", value="0711425365")
      span.label &nbsp
      span.label DarkMode: 
      input(type="text", name="darkmode", value="0")
      span.label &nbsp
      span.label Radius: 
      input(type="text", name="radius", value="1500")
      span.label &nbsp
      input(type="submit", value="Insert")