//
  | Project Title:  Appointment System
  |     Component:  API
  |
  |    File Name:  layout.sql  
  |  Description:  This file that outlines the layout for all of the other jade  
  |                files to import and use.

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
